{% extends "blog/base.html" %}
{% load static youtube_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'blog/css/card_animations.css' %}">
{% endblock %}

{% block content %}
<article class="about active" data-page="about">
    <header>
        <h2 class="h2 article-title">About me</h2>
    </header>

    <section class="video section-gap">
        {% with video=page_videos.first %}
            {% if video %}
                <div class="content-card">
                    {% if video.video_url %}
                        <div class="video-banner-box">
                            <iframe id="youtube-player-about"
                                    width="100%" height="400"
                                    src="{{ video.video_url|youtube_embed_url }}"
                                    frameborder="0" allowfullscreen></iframe>
                        </div>
                    {% elif video.video_file %}
                        <div class="video-banner-box">
                            <video id="local-video-about" width="100%" height="400" controls>
                                <source src="{{ video.video_file.url }}" type="video/mp4">
                            </video>
                        </div>
                    {% elif video.gif %}
                        <div class="video-banner-box">
                            <img id="gif-about" src="{{ video.gif.url }}" alt="{{ video.title }}" width="100%">
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        {% endwith %}
    </section>

    {% if not page_videos.exists %}
    <section class="about-text">
        {% for paragraph in personal_info.about_text %}
            <p>{{ paragraph }}</p>
        {% endfor %}
    </section>
    {% endif %}

    <section class="service">
        <h3 class="h3 service-title">Чем я занимаюсь</h3>

        <ul class="service-list">
            <li class="service-item">
                <div class="service-icon-box">
                    <img src="https://cdn-icons-png.flaticon.com/512/1087/1087927.png" alt="icon" width="40">
                </div>

                <div class="service-content-box">
                    <h4 class="h4 service-item-title">Веб-дизайн</h4>
                    <p class="service-item-text">Самый современный и высококачественный дизайн, созданный на профессиональном уровне.</p>
                </div>
            </li>

            <li class="service-item">
                <div class="service-icon-box">
                    <img src="https://cdn-icons-png.flaticon.com/512/1197/1197460.png" alt="icon" width="40">
                </div>

                <div class="service-content-box">
                    <h4 class="h4 service-item-title">Веб-разработка</h4>
                    <p class="service-item-text">Высококачественная разработка сайтов на профессиональном уровне.</p>
                </div>
            </li>

            <li class="service-item">
                <div class="service-icon-box">
                    <img src="https://cdn-icons-png.flaticon.com/512/2232/2232241.png" alt="icon" width="40">
                </div>

                <div class="service-content-box">
                    <h4 class="h4 service-item-title">Мобильные приложения</h4>
                    <p class="service-item-text">Профессиональная разработка приложений для iOS и Android.</p>
                </div>
            </li>

            <li class="service-item">
                <div class="service-icon-box">
                    <img src="https://cdn-icons-png.flaticon.com/512/1042/1042339.png" alt="icon" width="40">
                </div>

                <div class="service-content-box">
                    <h4 class="h4 service-item-title">Фотография</h4>
                    <p class="service-item-text">Я делаю высококачественные фотографии любой категории на профессиональном уровне.</p>
                </div>
            </li>
        </ul>
    </section>

    <section class="testimonials">
        <h3 class="h3 testimonials-title">Отзывы</h3>

        <ul class="testimonials-list has-scrollbar">
            <li class="testimonials-item">
                <div class="content-card" data-testimonials-item>
                    <figure class="testimonials-avatar-box">
                        <img src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?w=60" alt="avatar" data-testimonials-avatar width="60">
                    </figure>

                    <div class="testimonials-content">
                        <h4 class="h4 testimonials-item-title" data-testimonials-title>Daniel Lewis</h4>

                        <div class="testimonials-text" data-testimonials-text>
                            <p>Richard was hired to create a corporate identity. It's modern, clean and with a beautiful design that got a lot of praises from colleagues and visitors. We were very pleased with the work done. He has a lot of experience and is very concerned about the needs of client.</p>
                        </div>
                    </div>
                </div>
            </li>

            <li class="testimonials-item">
                <div class="content-card" data-testimonials-item>
                    <figure class="testimonials-avatar-box">
                        <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?w=60" alt="avatar" data-testimonials-avatar width="60">
                    </figure>

                    <div class="testimonials-content">
                        <h4 class="h4 testimonials-item-title" data-testimonials-title>Jessica Miller</h4>

                        <div class="testimonials-text" data-testimonials-text>
                            <p>Working with Richard has been an absolute pleasure. I was impressed with his attention to detail, his web design skills and his professional approach to our timelines and processes.</p>
                        </div>
                    </div>
                </div>
            </li>

            <li class="testimonials-item">
                <div class="content-card" data-testimonials-item>
                    <figure class="testimonials-avatar-box">
                        <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?w=60" alt="avatar" data-testimonials-avatar width="60">
                    </figure>

                    <div class="testimonials-content">
                        <h4 class="h4 testimonials-item-title" data-testimonials-title>Emily Evans</h4>

                        <div class="testimonials-text" data-testimonials-text>
                            <p>I couldn't be happier with the website that Richard created for us. His attention to detail and creativity is unmatched. Our clients frequently compliment the design, and it has significantly improved our brand image.</p>
                        </div>
                    </div>
                </div>
            </li>

            <li class="testimonials-item">
                <div class="content-card" data-testimonials-item>
                    <figure class="testimonials-avatar-box">
                        <img src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?w=60" alt="avatar" data-testimonials-avatar width="60">
                    </figure>

                    <div class="testimonials-content">
                        <h4 class="h4 testimonials-item-title" data-testimonials-title>Henry Williams</h4>

                        <div class="testimonials-text" data-testimonials-text>
                            <p>I was overwhelmed with the thought of redesigning my online store, but Richard made the process seamless. The site is not only visually appealing but also optimized for conversions. I've seen a 50% increase in traffic since the launch!</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </section>

    <!-- Модальное окно в About -->
    <div class="modal-container" data-modal-container>
        <div class="overlay" data-overlay></div>
        <section class="testimonials-modal">
            <button class="modal-close-btn" data-modal-close-btn><ion-icon name="close-outline"></ion-icon></button>
            <div class="modal-img-wrapper">
                <figure class="modal-avatar-box">
                    <img src="" alt="" width="200" height="200" data-modal-img> <!-- Увеличили до 200x200 -->
                </figure>
                <div class="modal-content">
                    <h4 class="h3 modal-title" data-modal-title></h4>
                    <time class="modal-date" data-modal-date></time> <!-- Добавили для даты -->
                    <div class="modal-text" data-modal-text></div>
                    <!-- В About нет кнопки профиля, но оставим структуру совместимой -->
                </div>
            </div>
        </section>
    </div>

    <section class="skill">
        <h3 class="h3 skills-title">My Skills</h3>

        <ul class="skills-list content-card">
            <li class="skills-item">
                <div class="title-wrapper">
                    <h5 class="h5">Python</h5>
                    <data value="80">80%</data>
                </div>

                <div class="skills-progress-bg">
                    <div class="skills-progress-fill" style="width: 80%;"></div>
                </div>
            </li>

            <li class="skills-item">
                <div class="title-wrapper">
                    <h5 class="h5">Django</h5>
                    <data value="70">70%</data>
                </div>

                <div class="skills-progress-bg">
                    <div class="skills-progress-fill" style="width: 70%;"></div>
                </div>
            </li>

            <li class="skills-item">
                <div class="title-wrapper">
                    <h5 class="h5">FastAPI</h5>
                    <data value="90">90%</data>
                </div>

                <div class="skills-progress-bg">
                    <div class="skills-progress-fill" style="width: 90%;"></div>
                </div>
            </li>

            <li class="skills-item">
                <div class="title-wrapper">
                    <h5 class="h5">Flask</h5>
                    <data value="50">50%</data>
                </div>

                <div class="skills-progress-bg">
                    <div class="skills-progress-fill" style="width: 50%;"></div>
                </div>
            </li>
            <li class="skills-item">
                <div class="title-wrapper">
                    <h5 class="h5">SQL</h5>
                    <data value="50">50%</data>
                </div>

                <div class="skills-progress-bg">
                    <div class="skills-progress-fill" style="width: 50%;"></div>
                </div>
            </li>
            <li class="skills-item">
                <div class="title-wrapper">
                    <h5 class="h5">PostgreSQL</h5>
                    <data value="50">50%</data>
                </div>

                <div class="skills-progress-bg">
                    <div class="skills-progress-fill" style="width: 50%;"></div>
                </div>
            </li>
            <li class="skills-item">
                <div class="title-wrapper">
                    <h5 class="h5">Docker</h5>
                    <data value="50">50%</data>
                </div>
                
                <div class="skills-progress-bg">
                    <div class="skills-progress-fill" style="width: 50%;"></div>
                </div>
            </li>
            <li class="skills-item">
                <div class="title-wrapper">
                    <h5 class="h5">Git</h5>
                    <data value="50">50%</data>
                </div>

                <div class="skills-progress-bg">
                    <div class="skills-progress-fill" style="width: 50%;"></div>
                </div>
            </li>
            <li class="skills-item">
                <div class="title-wrapper">
                    <h5 class="h5">Linux</h5>
                    <data value="50">50%</data>
                </div>

                <div class="skills-progress-bg">
                    <div class="skills-progress-fill" style="width: 50%;"></div>
                </div>
            </li>
        </ul>
    </section>

</article>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/video_control.js' %}"></script>
{% endblock %}