{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ personal_info.name }} - Portfolio{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'blog/favicon/favicon.png' %}" type="image/x-icon">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <main>
        {% block sidebar %}
            {% include 'blog/sidebar.html' %}
        {% endblock %}
        
        <div class="main-content">
            <nav class="navbar">
                <ul class="navbar-list">
                    <li class="navbar-item">
                        <a href="{% url 'blog:home' %}" class="navbar-link" data-nav-link>Home</a>
                    </li>
                    <li class="navbar-item">
                        <a href="{% url 'blog:blog' %}" class="navbar-link" data-nav-link>Posts</a>
                    </li>
                    <li class="navbar-item">
                        <a href="{% url 'blog:quizes' %}" class="navbar-link" data-nav-link>Quizes</a>
                    </li>
                    <li class="navbar-item">
                        {% if user.is_authenticated %}
                            <a href="{% url 'blog:profile' username=user.username %}" class="navbar-link">Profile</a>
                        {% else %}
                            <a href="{% url 'login' %}" class="navbar-link">Login</a>
                        {% endif %}
                    </li>
                    <li class="navbar-item">
                        {% if user.is_authenticated %}
                            <form method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button type="submit" class="navbar-link" style="background: none; border: none;">Logout</button>
                            </form>
                        {% else %}
                            <a href="{% url 'register' %}" class="navbar-link">Register</a>
                        {% endif %}
                    </li>
                    <li class="navbar-item">
                        {% if user.is_authenticated %}
                            <a href="{% url 'blog:inbox' %}" class="navbar-link" data-nav-link>
                                Messages
                                {% with unread_count=user.get_unread_messages_count %}
                                    {% if unread_count > 0 %}
                                        <span class="message-badge">{{ unread_count }}</span>
                                    {% endif %}
                                {% endwith %}
                            </a>
                        {% endif %}
                    </li>
                    <li class="navbar-item">
                        <a href="{% url 'user-list' %}" class="navbar-link" data-nav-link>Users</a>
                    </li>
                </ul>
            </nav>
            
            {% block content %}{% endblock %}
        </div>
    </main>
    
    <script src="{% static 'blog/js/main.js' %}"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
