{% extends "blog/base.html" %}
{% load static %}

{% block content %}
<article class="blog active" data-page="portfolio">
    <header>
        <h2 class="h2 article-title">Portfolio</h2>
    </header>

    <section class="blog-posts">
        <ul class="filter-list">
            <li class="filter-item">
                <button class="active" data-filter-btn>All</button>
            </li>
            {% for category in portfolio_categories %}
            <li class="filter-item">
                <button data-filter-btn>{{ category.name }}</button>
            </li>
            {% endfor %}
        </ul>

        <ul class="blog-posts-list">
            {% for project in projects %}
            <li class="blog-post-item" data-filter-item data-category="{{ project.category.name|lower }}">
                <a href="{% url 'blog:project_detail' project.slug %}">
                    {% if project.image %}
                    <figure class="blog-banner-box">
                        <img src="{{ project.image.url }}" alt="{{ project.title }}" loading="lazy">
                    </figure>
                    {% endif %}
                    <div class="blog-content">
                        <div class="blog-meta">
                            <p class="blog-category">{{ project.category.name }}</p>
                            {% if project.created_at %}
                            <span class="dot"></span>
                            <time datetime="{{ project.created_at|date:'Y-m-d' }}">{{ project.created_at|date:"M d, Y" }}</time>
                            {% endif %}
                        </div>
                        <h3 class="h3 blog-item-title">{{ project.title }}</h3>
                        {% if project.description %}
                        <p class="blog-text">
                            {{ project.description|truncatewords:30 }}
                        </p>
                        {% endif %}
                    </div>
                </a>
            </li>
            {% empty %}
            <p>No projects available.</p>
            {% endfor %}
        </ul>
    </section>
</article>
{% endblock %}