{% extends "blog/base.html" %}
{% load static %}

{% block sidebar %}
    {% include "blog/user_sidebar.html" %}
{% endblock %}

{% block content %}
<article class="post-detail active" data-page="post-detail">
    <header>
        <h2 class="h2 article-title">{{ post.title }}</h2>
    </header>

    <section class="post-content">
        {% if post.image %}
        <figure class="post-banner">
            <img src="{{ post.image.url }}" alt="{{ post.title }}">
        </figure>
        {% endif %}

        <div class="blog-meta">
            <p class="blog-category">{{ post.category.name }}</p>
            <span class="dot"></span>
            <time datetime="{{ post.created_at|date:'Y-m-d' }}">
                {{ post.created_at|date:"M d, Y" }}
            </time>
        </div>

        <div class="post-text article-text">
            {{ post.content|safe }}
        </div>
    </section>

    <!-- ... в секции комментариев или взаимодействий ... -->
    {% if comment.user.username %}
        <a href="{% url 'blog:profile' username=comment.user.username %}">{{ comment.user.username }}</a>
    {% else %}
        <span>{{ comment.user.username }}</span>
    {% endif %}
</article>
{% endblock %} 