{% extends "blog/base.html" %}
{% load static %}

{% block content %}
<article class="blog active" data-page="project-detail">
    <header>
        <h2 class="h2 article-title">{{ project.title }}</h2>
    </header>

    <section class="blog-posts">
        {% if project.image %}
        <figure class="blog-banner-box">
            <img src="{{ project.image.url }}" alt="{{ project.title }}" loading="lazy">
        </figure>
        {% endif %}

        <div class="blog-content">
            <div class="blog-meta">
                {% for category in project.categories.all %}
                <p class="blog-category">{{ category.name }}</p>
                {% if not forloop.last %}
                <span class="dot"></span>
                {% endif %}
                {% endfor %}
                {% if project.technologies %}
                <span class="dot"></span>
                <p class="blog-category">{{ project.technologies }}</p>
                {% endif %}
            </div>

            <div class="blog-text article-text">
                {{ project.description|safe }}
            </div>

            {% if project.github_link or project.demo_link %}
            <div class="blog-meta project-links">
                {% if project.github_link %}
                <a href="{{ project.github_link }}" class="btn" target="_blank">
                    <ion-icon name="logo-github"></ion-icon> GitHub
                </a>
                {% endif %}
                {% if project.demo_link %}
                <a href="{{ project.demo_link }}" class="btn" target="_blank">
                    <ion-icon name="globe-outline"></ion-icon> Live Demo
                </a>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </section>
</article>
{% endblock %}