{% extends 'blog/base.html' %}

{% block content %}
<article class="project-detail">
    <header>
        <h1>{{ project.title }}</h1>
        <div class="meta">
            <span class="category">{{ project.category.name }}</span>
            <span class="technologies">{{ project.technologies }}</span>
        </div>
    </header>

    {% if project.image %}
    <figure class="project-image">
        <img src="{{ project.image.url }}" alt="{{ project.title }}">
    </figure>
    {% endif %}

    <div class="project-content">
        {{ project.description|safe }}
    </div>

    <div class="project-links">
        {% if project.github_link %}
        <a href="{{ project.github_link }}" class="btn" target="_blank">
            <ion-icon name="logo-github"></ion-icon> GitHub
        </a>
        {% endif %}
        {% if project.demo_link %}
        <a href="{{ project.demo_link }}" class="btn" target="_blank">
            <ion-icon name="globe-outline"></ion-icon> Live Demo
        </a>
        {% endif %}
    </div>
</article>
{% endblock %} 