{% extends "blog/base.html" %}
{% load static %}

{% block sidebar %}
    {% include 'accounts/user_sidebar.html' %}
{% endblock %}

{% block content %}
<article class="quizes active" data-page="quizes">
  <header>
    <h2 class="h2 article-title">Опросы</h2>
  </header>

  <section class="service">
    <h3 class="h3 service-title">Доступные темы</h3>

    {% if topics %}
      <ul class="service-list">
        {% for topic in topics %}
          <li class="service-item">
            <a href="{% url 'blog:quiz_detail' quiz_type=topic.name|lower %}" class="service-link">
              <div class="service-icon-box">
                <img src="{{ topic.icon }}" alt="{{ topic.name }} иконка" width="40">
                <!-- Отладка: Иконка {{ topic.icon }} для темы {{ topic.name }} -->
              </div>
              <div class="service-content-box">
                <h4 class="h4 service-item-title">{{ topic.name }}</h4>
                <p class="service-item-text">Тест по теме {{ topic.name }}.</p>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Нет доступных тем.</p>
    {% endif %}
  </section>

  <div class="user-score">
    {% if user.is_authenticated %}
    <a href="{% url 'accounts:profile' %}">Посмотреть мои результаты</a>
    {% else %}
        <a href="#" class="open-login-modal" data-return-url="{{ request.path }}">Войдите, чтобы увидеть результаты</a>
    {% endif %}
  </div>
</article>

<style>
  .service-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: flex-start;
    gap: 16px;
    padding: 10px;
  }

  .service-item:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }
</style>
{% endblock %}