{% extends "blog/base.html" %}
{% load static i18n %}

{% block sidebar %}
{% comment %}
Includes the user sidebar for authenticated users.
{% endcomment %}
{% include 'accounts/user_sidebar.html' %}
{% endblock %}

{% block content %}
<article class="quiz-detail active" data-page="quiz-detail">
    <header>
        <h1 class="h2 article-title">{{ topic.name }}</h1>
    </header>

    <section class="service">
        <h3 class="h3 service-title">{% trans "Available Subtopics" %}</h3>

        <ul class="service-list">
            {% if subtopics %}
                {% for subtopic in subtopics %}
                  <li class="service-item">
                    <a href="{% url 'blog:quiz_difficulty' quiz_type=topic.name|lower subtopic=subtopic.name|slugify %}">
                      <div class="service-icon-box">
                        <img src="{{ topic.icon }}" alt="{% blocktrans with subtopic_name=subtopic.name %}{{ subtopic_name }} icon{% endblocktrans %}" width="40">
                      </div>
                      <div class="service-content-box">
                        <h4 class="h4 service-item-title">{{ subtopic.name }}</h4>
                        <p class="service-item-text">{% trans "Test on subtopic" %} {{ subtopic.name }}.</p>
                      </div>
                    </a>
                  </li>
                {% endfor %}
            {% else %}
                <li class="service-item">
                    <div class="service-icon-box">
                        <img src="{% static 'blog/images/icons/default-icon.png' %}" alt="{% trans 'No subtopics' %}" width="40">
                    </div>
                    <div class="service-content-box">
                        <h4 class="h4 service-item-title">{% trans "No Subtopics Available" %}</h4>
                        <p class="service-item-text">{% blocktrans with topic_name=topic.name %}No subtopics available for {{ topic_name }}.{% endblocktrans %}</p>
                    </div>
                </li>
            {% endif %}
        </ul>
    </section>

    <div class="user-progress">
        {% if user.is_authenticated %}
            <a href="{% url 'blog:statistics' %}?view=personal" class="contact-link">{% trans "View my progress" %}</a>
        {% else %}
            <a href="#" class="open-login-modal" data-return-url="{{ request.path }}">{% trans "Log in to track progress" %}</a>
        {% endif %}
    </div>
</article>

<style>
  .service-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: flex-start;
    gap: 16px;
    padding: 10px;
  }

  .service-item:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }
</style>
{% endblock %}