{% load static %}
<aside class="sidebar" data-sidebar>
  {% if user.is_authenticated %}
    <div class="sidebar-info">
      <figure class="avatar-box">
        <a href="{% url 'blog:profile' username=user.username %}">
          {% if user.profile.avatar %}
            <img src="{{ user.profile.get_avatar_url }}" alt="User Avatar" width="80">
          {% else %}
            <img src="{% static 'blog/images/avatar/default_avatar.png' %}" alt="{{ user.username }}" width="80">
          {% endif %}
        </a>
      </figure>

      <div class="info-content">
        <h1 class="name" title="{{ user.get_full_name|default:user.username }}">
          <a href="{% url 'blog:profile' username=user.username %}">
            {{ user.get_full_name|default:user.username }}
          </a>
        </h1>
        <p class="title">User Profile</p>
      </div>

      <button class="info_more-btn" data-sidebar-btn>
        <span>Show Stats</span>
        <ion-icon name="chevron-down"></ion-icon>
      </button>
    </div>

    <div class="sidebar-info_more">
      <div class="separator"></div>
      <ul class="contacts-list">
        <li class="contact-item">
          <div class="icon-box">
            <ion-icon name="trophy-outline"></ion-icon>
          </div>
          <div class="contact-info">
            <p class="contact-title">Solved Tasks</p>
            <p class="contact-link">{{ user.statistics.solved_tasks|default:"0" }}</p>
          </div>
        </li>

        <li class="contact-item">
          <div class="icon-box">
            <ion-icon name="star-outline"></ion-icon>
          </div>
          <div class="contact-info">
            <p class="contact-title">Rating</p>
            <p class="contact-link">{{ user.statistics.rating|default:"0" }}</p>
          </div>
        </li>
      </ul>
    </div>
  {% else %}
    <div class="sidebar-info">
      <figure class="avatar-box">
        <!-- Аватарка по умолчанию для неавторизованных пользователей -->
        <img src="{% static 'blog/images/avatar/default-avatar.png' %}" alt="Default avatar" width="80">
      </figure>

      <div class="info-content">
        <h1 class="name">Guest</h1>
        <p class="title">Visitor</p>
      </div>
    </div>

    <div class="sidebar-login-prompt">
      <p>Please <a href="{% url 'login' %}?next={{ request.path }}">log in</a> to view your profile information.</p>
    </div>
  {% endif %}
</aside>
