# Global Agent Rules

- Все общение с пользователем должно происходить строго на русском языке.
- Планы (implementation_plan.md) составлять исключительно на русском языке.
- Все комментарии к коду, описания изменений в коммитах или PULL запросах, а также любые другие текстовые пометки в коде использовать только на русском языке.
