__pycache__
*.pyc
*.pyo
.env
.git
.venv

# quiz_project/mini_app/.dockerignore

*.pyd
*.swp
*.swo
*.log


venv/
*.env
__pycache__/

.Python
.idea/
.vscode/
.DS_Store
*.sqlite3

tests/test_connection.py
add_groups.py


database/clear_tables.py



tasks.json
*.json


.gitignore
