.env
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.idea/
.vscode/
.DS_Store
*/.DS_Store
**/.DS_Store
*.log
*.sqlite3

tests/test_connection.py
add_groups.py

postgres_data/
database/clear_tables.py

# SSL Certificates - НЕ коммитить в git!
certbot/conf/
certbot/www/
certbot_debug.log



tasks.json
!package.json
!package-lock.json

/staticfiles

# Migrations
*/migrations/*.py
!*/migrations/__init__.py

# Django
*.log
db.sqlite3
media/
staticfiles/
local_settings.py

# Docker