.env
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.idea/
.vscode/
.DS_Store
*/.DS_Store
**/.DS_Store
*.log
*.sqlite3

tests/test_connection.py
add_groups.py

postgres_data/
database/clear_tables.py



tasks.json
*.json

/staticfiles

# Migrations
*/migrations/*.py
!*/migrations/__init__.py