<div class="section-achievements">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Достижения</h5>
                    <div class="achievements-grid">
                        <!-- Пример достижения -->
                        <div class="achievement-item">
                            <div class="achievement-icon">
                                <ion-icon name="trophy"></ion-icon>
                            </div>
                            <div class="achievement-info">
                                <h6>Первые шаги</h6>
                                <p>Решено первых 10 задач</p>
                            </div>
                        </div>
                        
                        <!-- Заблокированное достижение -->
                        <div class="achievement-item locked">
                            <div class="achievement-icon">
                                <ion-icon name="lock-closed"></ion-icon>
                            </div>
                            <div class="achievement-info">
                                <h6>Эксперт</h6>
                                <p>Решите 100 задач</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 