<div class="section-home">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Добро пожаловать, {{ user.username }}!</h5>
                    <p>Краткая сводка вашей активности:</p>
                    <ul>
                        <li>Решено задач: {{ total_tasks }}</li>
                        <li>Активных подписок: {{ subscriptions.count }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> 