<div class="section-settings">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Настройки профиля</h5>
                    <form method="post" enctype="multipart/form-data" id="profile-settings-form" action="{% url 'users:update_profile' telegram_id=user.telegram_id %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label">Загрузить аватар</label>
                            <input type="file" class="form-control" name="avatar" accept="image/*">
                            {% if user.avatar %}
                                <img src="{{ MEDIA_URL }}{{ user.avatar }}" alt="Current avatar" class="settings-preview">
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="email" class="form-control" name="email" value="{{ user.email|default:'' }}">
                        </div>
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Уведомления</h5>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="emailNotifications">
                        <label class="form-check-label" for="emailNotifications">Email уведомления</label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="telegramNotifications">
                        <label class="form-check-label" for="telegramNotifications">Telegram уведомления</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 