{% load static i18n %}
<aside class="sidebar" data-sidebar>
    <div class="sidebar-info">
        <figure class="avatar-box">
            <img src="{% static 'blog/images/avatar/my-avatar.png' %}" alt="{{ personal_info.name }}" width="80">
        </figure>

        <div class="info-content">
            <h2 class="name" title="{{ personal_info.name }}">{{ personal_info.name }}</h2>
            <p class="title">{{ personal_info.title }}</p>
        </div>

        <button class="info-more-btn" data-sidebar-btn>
            <span>{% trans "Show Contacts" %}</span>
            <ion-icon name="chevron-down"></ion-icon>
        </button>
    </div>

    <div class="sidebar-info-more">
        <div class="separator"></div>
        <ul class="contacts-list">
            <li class="contact-item">
                <div class="icon-box">
                    <ion-icon name="person-outline"></ion-icon>
                </div>
                <div class="contact-info">
                    <p class="contact-title">{% trans "About Me" %}</p>
                    <a href="{% url 'blog:about' %}" class="contact-link">{% trans "View Profile" %}</a>
                </div>
            </li>

            <li class="contact-item">
                <div class="icon-box">
                    <ion-icon name="school-outline"></ion-icon>
                </div>
                <div class="contact-info">
                    <p class="contact-title">{% trans "Resume" %}</p>
                    <a href="{% url 'blog:resume' %}" class="contact-link">{% trans "View Resume" %}</a>
                </div>
            </li>

            <li class="contact-item">
                <div class="icon-box">
                    <ion-icon name="briefcase-outline"></ion-icon>
                </div>
                <div class="contact-info">
                    <p class="contact-title">{% trans "Portfolio" %}</p>
                    <a href="{% url 'blog:portfolio' %}" class="contact-link">{% trans "View Projects" %}</a>
                </div>
            </li>

            <li class="contact-item">
                <div class="icon-box">
                    <ion-icon name="call-outline"></ion-icon>
                </div>
                <div class="contact-info">
                    <p class="contact-title">{% trans "Contact" %}</p>
                    <a href="{% url 'blog:contact' %}" class="contact-link">{% trans "Contact Me" %}</a>
                </div>
            </li>
        </ul>

        <div class="separator"></div>

        <ul class="social-list">
            <li class="social-item">
                <a href="{{ personal_info.social_links.facebook }}" class="social-link" target="_blank" rel="noopener noreferrer">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a>
            </li>
            <li class="social-item">
                <a href="{{ personal_info.social_links.telegram }}" class="social-link" target="_blank" rel="noopener noreferrer">
                    <ion-icon name="paper-plane"></ion-icon>
                </a>
            </li>
            <li class="social-item">
                <a href="{{ personal_info.social_links.whatsapp }}" class="social-link" target="_blank" rel="noopener noreferrer">
                    <ion-icon name="logo-whatsapp"></ion-icon>
                </a>
            </li>
            <li class="social-item">
                <a href="{{ personal_info.social_links.instagram }}" class="social-link" target="_blank" rel="noopener noreferrer">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a>
            </li>
            <li class="social-item">
                <a href="{{ personal_info.social_links.github }}" class="social-link" target="_blank" rel="noopener noreferrer">
                    <ion-icon name="logo-github"></ion-icon>
                </a>
            </li>
            <li class="social-item">
                <a href="{{ personal_info.social_links.linkedin }}" class="social-link" target="_blank" rel="noopener noreferrer">
                    <ion-icon name="logo-linkedin"></ion-icon>
                </a>
            </li>
        </ul>
    </div>

    <style>
      /* Стили для аватарки */
      .avatar-box img {
        transition: transform 0.3s ease;  /* Плавное изменение при наведении */
      }
      
      /* Эффект при наведении */
      .avatar-box img:hover {
        transform: scale(1.03);  /* Немного увеличиваем при наведении */
      }
    </style>
</aside>