{% load i18n %}

<section class="user-statistics">
    <div class="stats-cards">
        <div class="stat-card">
            <div class="stat-icon">
                <ion-icon name="checkmark-circle-outline"></ion-icon>
            </div>
            <div class="stat-details">
                <h3>{{ user_stats.successful_attempts }}</h3>
                <p>{% trans "Solved Tasks" %}</p>
            </div>
        </div>
        <div class="stat-card">
            <div class="stat-icon">
                <ion-icon name="bar-chart-outline"></ion-icon>
            </div>
            <div class="stat-details">
                <h3>{{ user_stats.total_attempts }}</h3>
                <p>{% trans "Attempts" %}</p>
            </div>
        </div>
        <div class="stat-card">
            <div class="stat-icon">
                <ion-icon name="pulse-outline"></ion-icon>
            </div>
            <div class="stat-details">
                <h3>{{ user_stats.success_rate|floatformat:1 }}%</h3>
                <p>{% trans "Success Rate" %}</p>
            </div>
        </div>
    </div>
</section>