{% load static i18n %}
{% if debug %}
<div style="display:none">
    User: {{ user }}
    Is authenticated: {{ user.is_authenticated }}
    User profile: {{ user_profile }}
    Profile telegram: {{ user_profile.telegram }}
    Debug stats:
    Raw stats: {{ user.statistics }}
    Solved tasks: {{ user.statistics.solved_tasks }}
    Rating: {{ user.statistics.rating }}
</div>
{% endif %}
<aside class="sidebar" data-sidebar>
  {% if user.is_authenticated %}
    <div class="sidebar-info">
      <figure class="avatar-box">
        <a href="{% url 'accounts:profile' %}">
          {% if user.avatar %}
            <img src="{{ user.get_avatar_url }}" alt="{% trans 'User Avatar' %}" width="80">
          {% else %}
            <img src="{% static 'blog/images/avatar/default_avatar.png' %}" alt="{{ user.username }}" width="80">
          {% endif %}
        </a>
      </figure>

      <div class="info-content">
        <h1 class="name">{{ user.username }}</h1>
        <p class="title">{{ user.bio|truncatechars:30 }}</p>
      </div>

      <button class="info-more-btn" data-sidebar-btn>
        <span>{% trans "Show Contacts" %}</span>
        <ion-icon name="chevron-down"></ion-icon>
      </button>
    </div>

    <div class="sidebar-info-more">
      <div class="separator"></div>

      <ul class="contacts-list">
        <li class="contact-item">
          <div class="icon-box">
            <ion-icon name="trophy-outline"></ion-icon>
          </div>
          <div class="contact-info">
            <p class="contact-title">{% trans "Solved Tasks" %}</p>
            <a href="{% url 'blog:statistics' %}?view=personal" class="contact-link">
              {{ user.get_statistics.solved_tasks|default:"0" }}
            </a>
          </div>
        </li>

        <li class="contact-item">
          <div class="icon-box">
            <ion-icon name="star-outline"></ion-icon>
          </div>
          <div class="contact-info">
            <p class="contact-title">{% trans "Rating" %}</p>
            <a href="{% url 'blog:statistics' %}?view=personal" class="contact-link">
              {{ user.statistics.rating|default:"0" }}
            </a>
          </div>
        </li>

        <li class="contact-item">
          {% with unread_count=user.get_unread_messages_count %}
            <div class="icon-box">
              <ion-icon name="mail-outline"></ion-icon>
            </div>
            <div class="contact-info">
              <p class="contact-title">{% trans "Messages" %}</p>
              <a href="{% url 'blog:inbox' %}" class="contact-link">
                {{ unread_count|default:"0" }}
              </a>
            </div>
          {% endwith %}
        </li>
      </ul>

      <div class="separator"></div>

      <ul class="social-list">
        {% if user_profile.telegram %}
        <li class="social-item">
            <a href="{% if user_profile.telegram %}tg://resolve?domain={{ user_profile.telegram|cut:'https://t.me/'|cut:'@' }}{% endif %}" class="social-link" target="_blank" rel="noopener noreferrer">
                <ion-icon name="paper-plane"></ion-icon>
            </a>
        </li>
        {% endif %}
        {% if user_profile.github %}
        <li class="social-item">
          <a href="{{ user_profile.github }}" class="social-link" target="_blank" rel="noopener noreferrer">
            <ion-icon name="logo-github"></ion-icon>
          </a>
        </li>
        {% endif %}
        {% if user_profile.instagram %}
        <li class="social-item">
          <a href="{{ user_profile.instagram }}" class="social-link" target="_blank" rel="noopener noreferrer">
            <ion-icon name="logo-instagram"></ion-icon>
          </a>
        </li>
        {% endif %}
        {% if user_profile.facebook %}
        <li class="social-item">
          <a href="{{ user_profile.facebook }}" class="social-link" target="_blank" rel="noopener noreferrer">
            <ion-icon name="logo-facebook"></ion-icon>
          </a>
        </li>
        {% endif %}
        {% if user_profile.linkedin %}
        <li class="social-item">
          <a href="{{ user_profile.linkedin }}" class="social-link" target="_blank" rel="noopener noreferrer">
            <ion-icon name="logo-linkedin"></ion-icon>
          </a>
        </li>
        {% endif %}
        {% if user_profile.youtube %}
        <li class="social-item">
          <a href="{{ user_profile.youtube }}" class="social-link" target="_blank" rel="noopener noreferrer">
            <ion-icon name="logo-youtube"></ion-icon>
          </a>
        </li>
        {% endif %}
        {% if user_profile.website %}
        <li class="social-item">
          <a href="{{ user_profile.website }}" class="social-link" target="_blank" rel="noopener noreferrer">
            <ion-icon name="globe-outline"></ion-icon>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>

    <style>
      /* Стили для аватарки */
      .avatar-box img {
        border-radius: 15px;     /* Закругленные углы, но не круглая */
        object-fit: cover;       /* Обеспечивает правильное масштабирование изображения */
        /* border: 2px solid var(--orange-yellow-crayola, #f9ab00);  Добавляем рамку */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);  /* Добавляем тень */
        transition: transform 0.3s ease;  /* Плавное изменение при наведении */
      }
      
      /* Эффект при наведении */
      .avatar-box img:hover {
        transform: scale(1.05);  /* Немного увеличиваем при наведении */
      }
      
      .icon-box {
        position: relative;
      }
      .message-count {
        position: absolute;
        left: -10px;
        top: -5px;
        background: var(--orange-yellow-crayola);
        color: var(--eerie-black-1);
        font-size: 12px;
        min-width: 18px;
        height: 18px;
        line-height: 18px;
        border-radius: 9px;
        text-align: center;
        padding: 0 5px;
      }
      .contact-info .contact-link {
        text-decoration: none;
        color: var(--light-gray);
      }
      .contact-info .contact-link:hover {
        color: var(--orange-yellow-crayola);
      }
    </style>
  {% else %}
    <div class="sidebar-info">
      <figure class="avatar-box">
        <img src="{% static 'blog/images/avatar/default_avatar.png' %}" alt="{% trans 'Default avatar' %}" width="80">
      </figure>
      <div class="info-content">
        <h1 class="name">{% trans "Guest" %}</h1>
        <p class="title">{% trans "Visitor" %}</p>
      </div>
    </div>
    <div class="sidebar-login-prompt">
      <p>{% trans "Please" %} <a href="#" id="sidebar-login-link">{% trans "log in" %}</a> {% trans "to view your profile information." %}</p>
    </div>

    <style>
      /* Стили для аватарки */
      .avatar-box img {
        border-radius: 15px;     /* Закругленные углы, но не круглая */
        object-fit: cover;       /* Обеспечивает правильное масштабирование изображения */
        /* border: 2px solid var(--orange-yellow-crayola, #f9ab00);  Добавляем рамку */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);  /* Добавляем тень */
      }
    </style>
  {% endif %}
</aside>